openapi: 3.2.0
info:
  title: Authologic Customer Conversation API
  description: 'The integration API for using with Authlogic Engine.


    Authologic allows for simple and effective checking of the user''s identity, and the use of API enables initiation by an external system

    the verification process and the receipt of its results.'
  contact:
    name: API support
    email: tech-support@authologic.com
  version: '1.1'
servers:
- url: https://sandbox.authologic.com
  description: Testing environment
security:
- apiKey: []
- oauth2: []
tags:
- name: Conversation
  description: 1. Base Methods needed for the verification process.
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/home
paths:
  /api/conversations:
    post:
      tags:
      - Conversation
      summary: Start a new user verification process
      description: 'Each process of getting data and confirming the identity of the user should start by calling this method.

        The call initiates this process and returns information about the address to which the user should be redirected to

        gathering the information requested from him.


        ::note

        In order to use the API you need to obtain the login and password for a for a specific environment.

        You can generate a new API key in the API Keys section of the OmniPanel.

        The API is accessible via either HTTP Basic authentication or OAuth2 client credentials flow.

        Both methods accept the same API key.

        When using OAuth2, the API key can be sent either via Authentication Bearer header or via HTTP POST body.

        ::


        ::note

        This is because all of these fields may have their default values set on the Authologic side when creating your account. If any value does not have a default setting you will get an error and you should either provide that value or report to Authologic to set the default one.

        ::


        The query contains three groups of information:

        * general information such as:

        * **userKey**: User ID on your system

        * **strategy**: information about the identity checking strategy (usually the default value is sufficient)

        * **returnUrl**: URL to which the user should be redirected after the process is completed

        * **callbackUrl**: information about the return address to which the system will send the acquired information. If this information is not provided, Authologic assumes that the information will be downloaded by the client

        * **query**: query definition containing individual products provided by Authologic


        ::warning

        The test environment allows the use of an HTTP address for **callbackUrl**. A production environment always requires HTTPS.

        ::


        ::note

        For testing purposes, to check the callback request, you can use online tools that accept and present the outgoing requests. One such tool is, for example, Webhook. When creating a conversation, it is enough to provide the url generated by Webhook in the callbackUrl parameter.

        ::


        The information contained in the query section is divided into specific products:

        * **identity** - fetch user information. This section is always required

        * **requireOneOf**: User information to be specified by Authologic. This is represented as set of sets and Authologic will try to fetch one of these

        * **optional**: User information that may be specified by Authologic when the information is available

        * **aml** - check user on AML lists

        * **checks**: lists where the user should be checked

        * **auth** - user authentication product

        * **bankTransactions** - the process of retrieving information about transactions.

        * **type**: type of transaction - credit, debit or all

        * **flags**: Additional information on what to return

        * **verify** - confirmation of the compliance of user data

        * **user**: information about user that should be verified'
      operationId: createConversation
      requestBody:
        content:
          application/vnd.authologic.v1.1+json:
            schema:
              $ref: '#/components/schemas/CreateConversation'
            examples:
              Simple verification process example:
                summary: The simplest verification process
                description: This example shows the main scenario of verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                      optional:
                      - list:
                        - PERSON_CONTACT_EMAIL_OTP
              Multiple success options example:
                summary: The process with multiple success options
                description: This example shows how to use multiple field sets to describe alternative success options.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                        - PERSON_IDS_NATIONAL_ID
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                        - PERSON_IDS_PASSPORT_ID
                      optional:
                      - list:
                        - PERSON_CONTACT_EMAIL_OTP
              AML verification process example:
                summary: Verification process with AML continuous monitoring
                description: This example shows how to perform verification and set up the AML monitoring.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                    aml:
                      checks:
                      - PEP
                      - SANCTIONS
                      subscription: {}
              Example usage of the authorization product:
                summary: The user authorization product
                description: This example shows the main scenario for user authorization.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    auth: {}
              Example usage of the affordability product:
                summary: The affordability product
                description: This example shows the main scenario of verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    affordability:
                      user:
                        country: NL
                        email: test.user@email.com
              Example usage of the Database verification product:
                summary: The Database verification product
                description: This example shows the main scenario of identity and database verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                    databaseVerification: {}
      responses:
        '200':
          description: Conversation started
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ConversationInfo'
              examples:
                Conversation created response example:
                  summary: Conversation Created and waiting for the user
                  description: The conversation was created and now the user should be redirected to the given url.
                  value:
                    id: 022e8eaf-b06d-44b9-a68f-45eef1353dbe
                    userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                    url: https://sandbox.authologic.com/c/022e8eaf-b06d-44b9-a68f-45eef1353dbe
                    status: CREATED
                    result:
                      identity:
                        status: IN_PROGRESS
                        user: {}
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              examples:
                Bad request example:
                  summary: Bad request example
                  description: Example of bad request in case validation error.
                  value:
                    status: BAD_REQUEST
                    message: Validation failed for argument example_argument
                    violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Forbidden call response example:
                  summary: Forbidden example
                  description: Example of forbidden call.
                  value:
                    status: FORBIDDEN
                    message: 'Permission denied for strategy: `public:b`.'
                    violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}:
    get:
      tags:
      - Conversation
      summary: Retrieving up-to-date data as defined by the user identity verification process
      description: '::warning

        In practice, instead of this method you should use the callback mechanism described here.'
      operationId: getConversation
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Conversation found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ConversationInfo'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)): was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
components:
  schemas:
    ConversationInfoResult:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/ConversationInfoIdentityProductResult'
          description: Identity check result
          title: ConversationIdentityResult
        verify:
          $ref: '#/components/schemas/ConversationInfoVerifyProductResult'
          description: Verify step result
          title: ConversationVerifyResult
        bankTransactions:
          $ref: '#/components/schemas/ConversationInfoBankTransactionsProductResult'
          description: The result of retrieving transaction data
          title: ConversationBankTransactionsResult
        aml:
          $ref: '#/components/schemas/ConversationInfoAMLProductResult'
          description: The result of AML checks
          title: ConversationAMLResult
        auth:
          $ref: '#/components/schemas/ConversationInfoAuthProductResult'
          description: The result of authorization
          title: ConversationAuthResult
        enquiry:
          $ref: '#/components/schemas/ConversationProductEnquiryResult'
          description: The result of enquiry form
          title: ConversationEnquiryResult
        affordability:
          $ref: '#/components/schemas/ConversationInfoAffordabilityProductResult'
          description: The result of affordability assessment product
          title: ConversationInfoAffordabilityProductResult
        ageVerification:
          $ref: '#/components/schemas/ConversationInfoAgeVerificationProductResult'
          description: '[BETA] The result of age verification'
          title: ConversationAgeVerificationResult
        databaseVerification:
          $ref: '#/components/schemas/ConversationInfoDbVProductResult'
          description: The result of database verification
          title: ConversationDbVResult
    ConversationProductValidationResult:
      type: object
      properties:
        name:
          type: string
          description: Validator name.
          readOnly: true
        result:
          type: string
          description: Validation result.
          enum:
          - ACCEPTED
          - FAILED
          - ERROR
          readOnly: true
        details:
          type: object
          additionalProperties: {}
          description: Validation details.
          readOnly: true
      required:
      - details
      - name
      - result
    CompanyName:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: ACME Inc.
          maxLength: 200
          minLength: 0
    ConversationInfoIdentityProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only some data could be identified

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        errors:
          type: array
          description: Additional information on possible causes of verification failure
          items:
            type: string
          readOnly: true
          uniqueItems: true
        user:
          $ref: '#/components/schemas/DiscoveredUserInfo'
          description: Data discovered during identity checks
          readOnly: true
        checks:
          type: array
          description: Additional information about the validations performed and their results
          items:
            $ref: '#/components/schemas/ConversationProductValidationResult'
          readOnly: true
      required:
      - status
      - user
    AMLProduct:
      type: object
      properties:
        checks:
          type: array
          description: List of AML checks to perform
          items:
            type: string
            enum:
            - PEP
            - SANCTIONS
            - ADVERSE_MEDIA
            - SIP
            - OTHER
        subscription:
          $ref: '#/components/schemas/AMLSubscription'
          description: The presence of the object enables recurring AML lists checking.
        user:
          $ref: '#/components/schemas/AMLUserInfo'
          description: Individual's data in case of AML list check without KYC verification.
      required:
      - checks
    Violation:
      type: object
      properties:
        field:
          type: string
          description: Field name
        message:
          type: string
          description: Descriptive error message
      required:
      - field
      - message
    BankTransactionsProduct:
      type: object
      properties:
        type:
          type: string
          description: 'Transaction type to be retrieved:

            * CREDIT - credit

            * DEBIT - debit

            * ALL - all types

            '
          enum:
          - CREDIT
          - DEBIT
          - ALL
        flags:
          type: array
          items:
            type: string
            enum:
            - INCLUDE_SCHEDULED
            - INCLUDE_TAGS
          uniqueItems: true
      required:
      - flags
      - type
    BadRequestApiError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    VerifyProductResultDetailInfo:
      type: object
      properties:
        field:
          type: string
          description: The field to which the data relate
          enum:
          - PERSON_NAME_FIRSTNAME
          - PERSON_NAME_LASTNAME
          - PERSON_NAME_MIDDLENAME
          - PERSON_NAME_MIDDLE_INITIAL
          - PERSON_NAME_FULLNAME
          - PERSON_NAME_MOTHER_NAME
          - PERSON_NAME_FATHER_NAME
          - PERSON_NAME_SPELLING
          - PERSON_IDS_NATIONAL_ID
          - PERSON_IDS_ACCOUNTS
          - PERSON_IDS_IDCARD_ID
          - PERSON_IDS_IDCARD_TYPE
          - PERSON_IDS_IDCARD_PHOTO
          - PERSON_IDS_IDCARD_ISSUE_DATE
          - PERSON_IDS_IDCARD_EXPIRY_DATE
          - PERSON_IDS_IDCARD_ISSUE_COUNTRY
          - PERSON_IDS_IDCARD_ISSUER
          - PERSON_IDS_PASSPORT_ID
          - PERSON_IDS_PASSPORT_ISSUE_DATE
          - PERSON_IDS_PASSPORT_EXPIRY_DATE
          - PERSON_IDS_PASSPORT_PHOTO
          - PERSON_IDS_PASSPORT_ISSUE_COUNTRY
          - PERSON_IDS_PASSPORT_ISSUER
          - PERSON_IDS_RESIDENCE_PERMIT_ID
          - PERSON_IDS_RESIDENCE_PERMIT_TYPE
          - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE
          - PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE
          - PERSON_IDS_RESIDENCE_PERMIT_PHOTO
          - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY
          - PERSON_IDS_RESIDENCE_PERMIT_ISSUER
          - PERSON_IDS_DRIVER_LICENCE_ID
          - PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE
          - PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE
          - PERSON_IDS_DRIVER_LICENCE_PHOTO
          - PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY
          - PERSON_IDS_DRIVER_LICENCE_ISSUE_STATE
          - PERSON_IDS_DRIVER_LICENCE_ISSUER
          - PERSON_IDS_DRIVER_LICENCE_CATEGORIES
          - PERSON_IDS_DRIVER_LICENCE_ADDITIONAL_ID
          - PERSON_IDS_DRIVER_LICENCE_LIMITATIONS
          - PERSON_IDS_DRIVER_LICENCE_DOCUMENT_STATUS
          - PERSON_IDS_OTHER_DOCUMENT_ID
          - PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION
          - PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE
          - PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE
          - PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY
          - PERSON_IDS_OTHER_DOCUMENT_ISSUER
          - PERSON_IDS_OTHER_DOCUMENT_PHOTO
          - PERSON_INFO_GENDER
          - PERSON_INFO_NATIONALITY
          - PERSON_INFO_BIRTHDATE
          - PERSON_INFO_BIRTH_CITY
          - PERSON_INFO_BIRTH_COUNTRY
          - PERSON_INFO_AGE
          - PERSON_INFO_FOREIGNER_STATUS
          - COMPANY_NAME_NAME
          - COMPANY_IDS_TAX_ID
          - PERSON_ADDRESS
          - COMPANY_ADDRESS
          - PERSON_CONTACT_EMAIL
          - PERSON_CONTACT_PHONE
          - PERSON_CONTACT_EMAIL_OTP
          - PERSON_CONTACT_PHONE_OTP
          - COMPANY_CONTACT_EMAIL
          - COMPANY_CONTACT_PHONE
          - COMPANY_IDS_ADDITIONAL_ID
          - COMPANY_IDS_ACCOUNTS
          readOnly: true
        reliability:
          type: number
          format: double
          description: Information about how closely the field matches the input data
          maximum: 1
          minimum: 0
          readOnly: true
      required:
      - field
      - reliability
    PersonAccountInfo:
      type: object
      description: User account information
      properties:
        swiftbic:
          type: string
          description: Bank's SWIFT / BIC code
          example: BREXPLPW
          maxLength: 50
          minLength: 0
        accountId:
          type: string
          description: User account identification number
          example: PL27114020040000300201355387
          maxLength: 50
          minLength: 0
        currency:
          type: string
          description: Account currency
          example: PLN
          maxLength: 3
          minLength: 0
    CompanyIds:
      type: object
      properties:
        taxId:
          type: string
          description: 'Tax identification number (in Poland: NIP) of the company'
          example: 1234567890
          maxLength: 50
          minLength: 0
        additionalId:
          type: string
          description: Additional identifier
          example: A03015512
          maxLength: 50
          minLength: 0
        accounts:
          type: array
          description: Company account list
          items:
            $ref: '#/components/schemas/CompanyAccountInfo'
      required:
      - accounts
    CompanyAccountInfo:
      type: object
      description: Company account information
      properties:
        swiftbic:
          type: string
          description: Bank's SWIFT / BIC code
          example: BREXPLPW
          maxLength: 50
          minLength: 0
        accountId:
          type: string
          description: Company account identification number
          example: PL27114020040000300201355387
          maxLength: 50
          minLength: 0
        currency:
          type: string
          description: Account currency
          example: PLN
          maxLength: 3
          minLength: 0
    DatabaseVerificationProduct: {}
    ConstraintViolationError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    ResidencePermitInfo:
      type: object
      description: User's residence permit
      properties:
        id:
          type: string
          description: Number
          example: AD 24243423
          maxLength: 50
          minLength: 0
        issueDate:
          type: string
          format: date
          description: Date of issue of the document
        expiryDate:
          type: string
          format: date
          description: Document expiry date
        issueCountry:
          type: string
          description: Country of issue of the document
          example: GB
        issuer:
          type: string
          description: Authority issuing the document
          example: Wojewoda Mazowiecki
    ConversationInfoAuthProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only some data could be identified

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        token:
          type: string
          description: Authorization token.
          readOnly: true
        challenge:
          type: string
          description: Equivalent of a user's login in a given method.
          readOnly: true
      required:
      - status
    ConversationInfo:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the conversation
          example: e0c0b3cc-8238-414f-9940-9f14bd1b8693
        userKey:
          type: string
          description: Unique user identifier in the Customer's system
          example: d5dbb8e0-192e-4bc6-972c-f7948409d10c
        url:
          type: string
          description: The address where user should be redirected to perform the verification
          example: https://sandbox.authologic.com/c/022e8eaf-b06d-44b9-a68f-45eef1353dbe
        status:
          type: string
          description: 'Conversation state

            * CREATED - conversation ready to be run

            * IN_PROGRESS - data is being determined from the query

            * FINISHED - query checks have been completed

            * CANCELED - checking interrupted by the user

            * EXPIRED - conversation is expired

            '
          enum:
          - CREATED
          - IN_PROGRESS
          - FINISHED
          - CANCELED
          - EXPIRED
          example: CREATED
        result:
          $ref: '#/components/schemas/ConversationInfoResult'
          description: The result of checking individual elements
          title: ConversationResult
        info:
          type: array
          description: The information about activated strategy elements
          items:
            $ref: '#/components/schemas/ConversationStrategyInfo'
          title: ConversationInfo
      required:
      - id
      - result
      - status
      - url
      - userKey
      title: Conversation
    EnquiryProduct:
      type: object
      properties:
        formId:
          type: string
          description: Form identifier.
    ConversationInfoAffordabilityProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        errors:
          type: array
          description: Additional information on possible causes of verification failure
          items:
            type: string
          readOnly: true
          uniqueItems: true
      required:
      - status
    PersonName:
      type: object
      properties:
        firstName:
          type: string
          description: User name
          example: Jan
          maxLength: 100
          minLength: 0
        lastName:
          type: string
          description: User surname
          example: Kowalski
          maxLength: 200
          minLength: 0
        middleName:
          type: string
          description: Second name
          example: Stanisław
          maxLength: 100
          minLength: 0
        middleInitial:
          type: string
          description: Middle initial
          example: S
          maxLength: 1
          minLength: 0
        fullName:
          type: string
          description: User full name
          example: Jan Stanisław Kowalski
          maxLength: 300
          minLength: 0
        motherName:
          type: string
          description: Mother's name
          example: Anna
          maxLength: 100
          minLength: 0
        fatherName:
          type: string
          description: Father's name
          example: Tomasz
          maxLength: 100
          minLength: 0
        spelling:
          $ref: '#/components/schemas/Spelling'
          description: Object containing alternative spelling variations, legally recognized aliases, and official transliterations or romanizations of the individual's name
    OperationNotSupportedApiFieldError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    ConversationInfoAgeVerificationProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        over:
          type: integer
          format: int32
          description: Declared age to verify against.
          readOnly: true
        result:
          type: boolean
          description: Age verification result. True if the user's age meets the declared threshold.
          readOnly: true
      required:
      - over
      - status
    AffordabilityUserInfo:
      type: object
      properties:
        firstName:
          type: string
          description: First name of person verified for affordability product.
          maxLength: 100
          minLength: 1
        lastName:
          type: string
          description: Last name of person verified for affordability product.
          maxLength: 128
          minLength: 1
        birthDate:
          type: string
          format: date
          description: Date of birth of person verified for affordability product.
          example: '1999-10-09'
        postalCode:
          type: string
          description: Postcode
          example: 00-950
          maxLength: 12
          minLength: 1
        houseNumber:
          type: string
          description: House number
          example: 123
          maxLength: 10
          minLength: 1
        country:
          type: string
          description: Country of residence of person verified for affordability product.
          example: PL
        email:
          type: string
          description: E-mail of person verified for affordability product.
          example: email@example.com
          maxLength: 254
          minLength: 4
      required:
      - country
    AuthProduct:
      type: object
      properties:
        challenge:
          type: string
          description: Equivalent of a user's login in a given method.
    IdentityProductOptionalField:
      type: object
      properties:
        list:
          type: array
          items:
            type: string
            enum:
            - PERSON_NAME_FIRSTNAME
            - PERSON_NAME_LASTNAME
            - PERSON_NAME_MIDDLENAME
            - PERSON_NAME_MIDDLE_INITIAL
            - PERSON_NAME_FULLNAME
            - PERSON_NAME_MOTHER_NAME
            - PERSON_NAME_FATHER_NAME
            - PERSON_NAME_SPELLING
            - PERSON_IDS_NATIONAL_ID
            - PERSON_IDS_ACCOUNTS
            - PERSON_IDS_IDCARD_ID
            - PERSON_IDS_IDCARD_TYPE
            - PERSON_IDS_IDCARD_PHOTO
            - PERSON_IDS_IDCARD_ISSUE_DATE
            - PERSON_IDS_IDCARD_EXPIRY_DATE
            - PERSON_IDS_IDCARD_ISSUE_COUNTRY
            - PERSON_IDS_IDCARD_ISSUER
            - PERSON_IDS_PASSPORT_ID
            - PERSON_IDS_PASSPORT_ISSUE_DATE
            - PERSON_IDS_PASSPORT_EXPIRY_DATE
            - PERSON_IDS_PASSPORT_PHOTO
            - PERSON_IDS_PASSPORT_ISSUE_COUNTRY
            - PERSON_IDS_PASSPORT_ISSUER
            - PERSON_IDS_RESIDENCE_PERMIT_ID
            - PERSON_IDS_RESIDENCE_PERMIT_TYPE
            - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE
            - PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE
            - PERSON_IDS_RESIDENCE_PERMIT_PHOTO
            - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY
            - PERSON_IDS_RESIDENCE_PERMIT_ISSUER
            - PERSON_IDS_DRIVER_LICENCE_ID
            - PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE
            - PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE
            - PERSON_IDS_DRIVER_LICENCE_PHOTO
            - PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY
            - PERSON_IDS_DRIVER_LICENCE_ISSUE_STATE
            - PERSON_IDS_DRIVER_LICENCE_ISSUER
            - PERSON_IDS_DRIVER_LICENCE_CATEGORIES
            - PERSON_IDS_DRIVER_LICENCE_ADDITIONAL_ID
            - PERSON_IDS_DRIVER_LICENCE_LIMITATIONS
            - PERSON_IDS_DRIVER_LICENCE_DOCUMENT_STATUS
            - PERSON_IDS_OTHER_DOCUMENT_ID
            - PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION
            - PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE
            - PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE
            - PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY
            - PERSON_IDS_OTHER_DOCUMENT_ISSUER
            - PERSON_IDS_OTHER_DOCUMENT_PHOTO
            - PERSON_INFO_GENDER
            - PERSON_INFO_NATIONALITY
            - PERSON_INFO_BIRTHDATE
            - PERSON_INFO_BIRTH_CITY
            - PERSON_INFO_BIRTH_COUNTRY
            - PERSON_INFO_AGE
            - PERSON_INFO_FOREIGNER_STATUS
            - COMPANY_NAME_NAME
            - COMPANY_IDS_TAX_ID
            - PERSON_ADDRESS
            - COMPANY_ADDRESS
            - PERSON_CONTACT_EMAIL
            - PERSON_CONTACT_PHONE
            - PERSON_CONTACT_EMAIL_OTP
            - PERSON_CONTACT_PHONE_OTP
            - COMPANY_CONTACT_EMAIL
            - COMPANY_CONTACT_PHONE
            - COMPANY_IDS_ADDITIONAL_ID
            - COMPANY_IDS_ACCOUNTS
          uniqueItems: true
      required:
      - list
    ContactInfo:
      type: object
      properties:
        email:
          type: string
          format: email
          description: User's email address
          example: jan.kowalski@email.com
        phone:
          type: string
          description: User's phone
          example: '+48692887345'
        emailOtp:
          type: string
          format: email
          description: User's email address confirmed with one time password
          example: jan.kowalski@email.com
        phoneOtp:
          type: string
          description: User's phone confirmed with one time password
          example: '+48692887345'
    IdCardInfo:
      type: object
      description: User's ID card
      properties:
        id:
          type: string
          description: Number
          example: ABC 12343
          maxLength: 50
          minLength: 0
        type:
          type: string
          description: Type od ID card, as it may be different depending on country
          example: Aadhaar
          maxLength: 30
          minLength: 0
        issueDate:
          type: string
          format: date
          description: Date of issue of the document
        expiryDate:
          type: string
          format: date
          description: Document expiry date
        issueCountry:
          type: string
          description: Country of issue of the document
          example: GB
        issuer:
          type: string
          description: Authority issuing the document
          example: Prezydent m.st. Warszawy
    ConversationInfoDbVProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only data from some of requested databases was retrieved

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
      required:
      - status
    PersonInfoInfo:
      type: object
      properties:
        gender:
          type: string
          description: The gender of the user (MALE/FEMALE/OTHER)
          enum:
          - MALE
          - FEMALE
          - OTHER
        nationality:
          type: string
          description: User's nationality
          example: PL
        birthDate:
          type: string
          format: date
          description: Date of birth
        birthCity:
          type: string
          description: Place of birth
          example: Gdańsk
          maxLength: 200
          minLength: 0
        birthCountry:
          type: string
          description: Country of birth
          example: PL
        age:
          type: integer
          format: int32
          description: Age
          example: 25
        foreignerStatus:
          type: string
          description: Foreigner status
          example: UKR
          maxLength: 50
          minLength: 0
    ConversationProductEnquiryResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - enquiry in progress

            * FINISHED - enquiry completed

            * PARTIAL - enquiry completed but only some data was retrieved

            * FAILED - enquiry completed but failed to retrieve required data

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        formId:
          type: string
          description: Enquiry form identifier.
          readOnly: true
        formData:
          type: object
          additionalProperties: {}
          description: Enquiry form data.
          readOnly: true
      required:
      - status
    DriverLicenceInfo:
      type: object
      description: User's driver licence
      properties:
        id:
          type: string
          description: Number
          example: AA 12343454
          maxLength: 50
          minLength: 0
        issueDate:
          type: string
          format: date
          description: Date of issue of the document
        expiryDate:
          type: string
          format: date
          description: Document expiry date
        issueCountry:
          type: string
          description: Country of issue of the document
          example: GB
        issueState:
          type: string
          description: State/province of issue of the document
          example: California
        issuer:
          type: string
          description: Authority issuing the document
          example: Prezydent m.st. Warszawy
        additionalId:
          type: string
          description: Additional identifier
          example: A03015512
        limitations:
          type: array
          description: Limitations
          example:
          - '01.06'
          - '61'
          items:
            type: string
        documentStatus:
          type: string
          description: Document status
          enum:
          - RELEASED
          - SUSPENDED
          - DESTROYED
          - LOST
          - CANCELED
          example: RELEASED
        categories:
          type: array
          description: Available categories
          items:
            $ref: '#/components/schemas/DriverLicenceInfoCategory'
    AMLUserInfo:
      type: object
      properties:
        firstName:
          type: string
          description: First name of person verified for AML.
          maxLength: 100
          minLength: 0
        lastName:
          type: string
          description: Last name of person verified for AML.
          maxLength: 200
          minLength: 0
        birthDate:
          type: string
          format: date
          description: Date of birth of person verified for AML.
          example: '1999-10-09'
        nationality:
          type: string
          description: Nationality of person verified for AML.
          example: PL
        scriptName:
          type: string
          description: Individual's full name in original script text or the full Latin-based name.
          maxLength: 256
          minLength: 0
        nationalId:
          type: string
          description: 'User ID (in Poland: PESEL)'
          example: 73121243XXX
          maxLength: 50
          minLength: 0
    KnownUserInfo:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/CompanyUserInfo'
          description: Contains company-related information if the current user is a legal entity
        person:
          $ref: '#/components/schemas/PersonUserInfo'
          description: Contains user-related information if the current user is a natural person
    CustomValidationApiError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    MethodArgumentNotValidError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    CreateConversation:
      type: object
      properties:
        userKey:
          type: string
          description: 'User ID on your system. This property is not used by the Authologic and is returned with the conversation status. If not given will be generated automatically. '
          example: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
          maxLength: 200
          minLength: 1
          pattern: ^[a-zA-Z0-9-_+=#@.:]+$
        returnUrl:
          type: string
          description: 'The address on your system where the user will be redirected after verifying his identity. If {conversationId} part was given,

            it will be replaced with the conversation ID'
          example: https://authologic.com/tests/return/?conversation={conversationId}
        callbackUrl:
          type: string
          description: 'The address in your system to which information about the user will be sent. You can use placeholders: {conversationId}, {target} and {event}'
          example: https://authologic.com/tests/callback/?conversation={conversationId}&target={target}&event={event}
        layoutUrl:
          type: string
          description: "The address on your system where the user will be redirected when Authologic need contact with user. This allows to define process look on your side.\n            If {conversationId} part was given, it will be replaced with the conversation ID"
          example: https://authologic.com/tests/layout/?conversation={conversationId}
        strategy:
          type: string
          description: Additional information on the user identity verification strategy
          example: public:default
          pattern: ^[a-zA-Z]+:[a-zA-Z0-9-_+:]+$
        query:
          $ref: '#/components/schemas/ProductQuery'
          description: Query definition - List of information to be obtained
        settings:
          type: object
          additionalProperties:
            type: string
          description: Additional, optional settings depend on the selected strategy.
          example:
            countryCode: PL
    ApiError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    ProductQuery:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/IdentityProduct'
          description: Configures the required user information to be provided
        verify:
          $ref: '#/components/schemas/VerifyProduct'
          description: Configures which user information should be compared and verified
        bankTransactions:
          $ref: '#/components/schemas/BankTransactionsProduct'
          description: Configures the required information about the user's banking transactions.
        aml:
          $ref: '#/components/schemas/AMLProduct'
          description: Configures the required information about the AML checks.
        auth:
          $ref: '#/components/schemas/AuthProduct'
          description: Configures the required information about auth product.
        enquiry:
          $ref: '#/components/schemas/EnquiryProduct'
          description: Configures the required information about enquiry product.
        affordability:
          $ref: '#/components/schemas/AffordabilityProduct'
          description: Configures the required information about affordability product.
        ageVerification:
          $ref: '#/components/schemas/AgeVerificationProduct'
          description: '[BETA] Configures the required information about age verification product.'
        databaseVerification:
          $ref: '#/components/schemas/DatabaseVerificationProduct'
          description: Configures the required information about database verification product.
    OtherDocumentInfo:
      type: object
      description: Other document (only applies to specific verification methods)
      properties:
        id:
          type: string
          description: Number
          example: AA 12343454
          maxLength: 1024
          minLength: 0
        description:
          type: string
          description: Description
          example: Document ID
          maxLength: 1024
          minLength: 0
        issueDate:
          type: string
          format: date
          description: Date of issue of the document
        expiryDate:
          type: string
          format: date
          description: Document expiry date
        issueCountry:
          type: string
          description: Country of issue of the document
          example: GB
        issuer:
          type: string
          description: Authority issuing the document
          example: Prezydent m.st. Warszawy
    AMLSubscription: {}
    AgeVerificationProduct:
      type: object
      properties:
        over:
          type: integer
          format: int32
          description: Age to verify against.
          example: 18
          maximum: 150
          minimum: 1
      required:
      - over
    AffordabilityProduct:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AffordabilityUserInfo'
          description: Individual's data in case of affordability assessment check without KYC verification.
    VerifyProduct:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/KnownUserInfo'
          description: List of information about a user to verify
      required:
      - user
    PersonIdsInfo:
      type: object
      properties:
        nationalId:
          type: string
          description: 'User ID (in Poland: PESEL)'
          example: 73121243192
          maxLength: 50
          minLength: 0
        idCard:
          $ref: '#/components/schemas/IdCardInfo'
          description: ID card
        passport:
          $ref: '#/components/schemas/PassportInfo'
          description: Passport
        driverLicence:
          $ref: '#/components/schemas/DriverLicenceInfo'
          description: Driver Licence
        residencePermit:
          $ref: '#/components/schemas/ResidencePermitInfo'
          description: Residence permit
        otherDocument:
          $ref: '#/components/schemas/OtherDocumentInfo'
          description: Other document (only applies to specific verification methods)
        accounts:
          type: array
          description: User account list
          items:
            $ref: '#/components/schemas/PersonAccountInfo'
      required:
      - accounts
    DiscoveredUserInfo:
      type: object
      properties:
        person:
          $ref: '#/components/schemas/PersonUserInfo'
          description: Contains user-related information if the current user is a natural person
        company:
          $ref: '#/components/schemas/CompanyUserInfo'
          description: Contains company-related information if the current user is a legal entity
    ConversationInfoAMLProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only some data could be identified

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        found:
          type: array
          description: AML lists, where matching records were found
          items:
            type: string
            enum:
            - PEP
            - SANCTIONS
            - ADVERSE_MEDIA
            - SIP
            - OTHER
          readOnly: true
          uniqueItems: true
        subscription:
          $ref: '#/components/schemas/SubscribedProduct'
          description: Information about the periodic checking of lists
          readOnly: true
      required:
      - found
      - status
    SubscribedProduct:
      type: object
      properties:
        active:
          type: boolean
          description: Information whether the subscription is active.
          readOnly: true
        lastChanged:
          type: string
          format: date-time
          description: Date of the last change in the subscribed data.
          readOnly: true
      required:
      - active
    MethodArgumentTypeMismatchError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
    ConversationInfoVerifyProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only some data could be identified

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
        reliability:
          type: number
          format: double
          description: Information about how closely the output matches the input data
          maximum: 1
          minimum: 0
          readOnly: true
        details:
          type: array
          description: detailed information about how closely given fields matches the input data
          items:
            $ref: '#/components/schemas/VerifyProductResultDetailInfo'
          readOnly: true
      required:
      - status
    ConversationInfoBankTransactionsProductResult:
      type: object
      properties:
        status:
          type: string
          description: 'Result status:

            * IN_PROGRESS - checking in progress

            * FINISHED - checking completed

            * PARTIAL - checking completed but only some data could be identified

            * FAILED - checking completed but no data could be determined

            '
          enum:
          - IN_PROGRESS
          - FINISHED
          - FAILED
          - PARTIAL
          example: FINISHED
          readOnly: true
      required:
      - status
    Spelling:
      type: object
      properties:
        aliasName:
          type: string
          description: The legally recognized alternate name or pseudonym of the individual
          example: Mark Twain
          maxLength: 300
          minLength: 0
        translatedName:
          type: string
          description: The official translation or transliteration of the individual's core name from its original script/language into standard Latin characters
          example: Samuel Clemens
          maxLength: 300
          minLength: 0
        translatedAlias:
          type: string
          description: The legally recognized alternate name (alias) converted into its official translated or transliterated form using Latin characters
          example: Mark Tven
          maxLength: 300
          minLength: 0
    DriverLicenceInfoCategory:
      type: object
      properties:
        category:
          type: string
          enum:
          - LIGHT_MOPEDS_AND_QUADRICYCLES
          - LIGHT_MOTORCYCLES
          - MEDIUM_POWERED_MOTORCYCLES
          - UNRESTRICTED_MOTORCYCLES
          - LIGHT_VEHICLES
          - CARS
          - MEDIUM_SIZED_VEHICLES
          - LARGE_VEHICLES
          - MINIBUSES
          - BUSES
          - ARTICULATED_VEHICLES_OR_TRAILERS
          - MOTORCYCLES_AND_CARS
          - CAR_WITH_TRAILER
          - LARGE_VEHICLE_WITH_TRAILER
          - BUS_WITH_TRAILER
        issueDate:
          type: string
          format: date
        expiryDate:
          type: string
          format: date
        limitations:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - ACTIVE
          - REVOKE
    PassportInfo:
      type: object
      description: User's passport
      properties:
        id:
          type: string
          description: Number
          example: AD 24243423
          maxLength: 50
          minLength: 0
        issueDate:
          type: string
          format: date
          description: Date of issue of the document
        expiryDate:
          type: string
          format: date
          description: Document expiry date
        issueCountry:
          type: string
          description: Country of issue of the document
          example: GB
        issuer:
          type: string
          description: Authority issuing the document
          example: Wojewoda Mazowiecki
    PersonUserInfo:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PersonName'
          description: Contains information related to the identification of the user, if the current user is a natural person
        ids:
          $ref: '#/components/schemas/PersonIdsInfo'
          description: Contains identifiers associated with the user if the current user is a natural person
        info:
          $ref: '#/components/schemas/PersonInfoInfo'
          description: Contains additional information about the user
        address:
          $ref: '#/components/schemas/AddressInfo'
          description: User address
        contact:
          $ref: '#/components/schemas/ContactInfo'
          description: User contact details
    ConversationStrategyInfo:
      type: object
      properties:
        country:
          type: string
          description: Country used.
          example: PL
          readOnly: true
        method:
          type: string
          description: "Verification method used.\n* PSD2,\n* TRANSFER,\n* MOBYWATEL,\n* MOJEID_PL,\n* EDO_APP\n\n* and many more\n    "
          example: PSD2
          readOnly: true
        trace:
          type: object
          additionalProperties: {}
          description: Additional information returned by the provider.
          readOnly: true
        methodDetails:
          type: object
          additionalProperties: {}
          description: Additional information about verification method.
          readOnly: true
    CompanyUserInfo:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CompanyName'
          description: Contains information related to the identification of the company if the current user is a legal entity
        ids:
          $ref: '#/components/schemas/CompanyIds'
          description: Contains company-related identifiers if the current user is a legal entity
        address:
          $ref: '#/components/schemas/AddressInfo'
          description: User address
        contact:
          $ref: '#/components/schemas/ContactInfo'
          description: User contact details
    IdentityProduct:
      type: object
      properties:
        requireOneOf:
          type: array
          items:
            type: array
            items:
              type: string
              enum:
              - PERSON_NAME_FIRSTNAME
              - PERSON_NAME_LASTNAME
              - PERSON_NAME_MIDDLENAME
              - PERSON_NAME_MIDDLE_INITIAL
              - PERSON_NAME_FULLNAME
              - PERSON_NAME_MOTHER_NAME
              - PERSON_NAME_FATHER_NAME
              - PERSON_NAME_SPELLING
              - PERSON_IDS_NATIONAL_ID
              - PERSON_IDS_ACCOUNTS
              - PERSON_IDS_IDCARD_ID
              - PERSON_IDS_IDCARD_TYPE
              - PERSON_IDS_IDCARD_PHOTO
              - PERSON_IDS_IDCARD_ISSUE_DATE
              - PERSON_IDS_IDCARD_EXPIRY_DATE
              - PERSON_IDS_IDCARD_ISSUE_COUNTRY
              - PERSON_IDS_IDCARD_ISSUER
              - PERSON_IDS_PASSPORT_ID
              - PERSON_IDS_PASSPORT_ISSUE_DATE
              - PERSON_IDS_PASSPORT_EXPIRY_DATE
              - PERSON_IDS_PASSPORT_PHOTO
              - PERSON_IDS_PASSPORT_ISSUE_COUNTRY
              - PERSON_IDS_PASSPORT_ISSUER
              - PERSON_IDS_RESIDENCE_PERMIT_ID
              - PERSON_IDS_RESIDENCE_PERMIT_TYPE
              - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE
              - PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE
              - PERSON_IDS_RESIDENCE_PERMIT_PHOTO
              - PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY
              - PERSON_IDS_RESIDENCE_PERMIT_ISSUER
              - PERSON_IDS_DRIVER_LICENCE_ID
              - PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE
              - PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE
              - PERSON_IDS_DRIVER_LICENCE_PHOTO
              - PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY
              - PERSON_IDS_DRIVER_LICENCE_ISSUE_STATE
              - PERSON_IDS_DRIVER_LICENCE_ISSUER
              - PERSON_IDS_DRIVER_LICENCE_CATEGORIES
              - PERSON_IDS_DRIVER_LICENCE_ADDITIONAL_ID
              - PERSON_IDS_DRIVER_LICENCE_LIMITATIONS
              - PERSON_IDS_DRIVER_LICENCE_DOCUMENT_STATUS
              - PERSON_IDS_OTHER_DOCUMENT_ID
              - PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION
              - PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE
              - PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE
              - PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY
              - PERSON_IDS_OTHER_DOCUMENT_ISSUER
              - PERSON_IDS_OTHER_DOCUMENT_PHOTO
              - PERSON_INFO_GENDER
              - PERSON_INFO_NATIONALITY
              - PERSON_INFO_BIRTHDATE
              - PERSON_INFO_BIRTH_CITY
              - PERSON_INFO_BIRTH_COUNTRY
              - PERSON_INFO_AGE
              - PERSON_INFO_FOREIGNER_STATUS
              - COMPANY_NAME_NAME
              - COMPANY_IDS_TAX_ID
              - PERSON_ADDRESS
              - COMPANY_ADDRESS
              - PERSON_CONTACT_EMAIL
              - PERSON_CONTACT_PHONE
              - PERSON_CONTACT_EMAIL_OTP
              - PERSON_CONTACT_PHONE_OTP
              - COMPANY_CONTACT_EMAIL
              - COMPANY_CONTACT_PHONE
              - COMPANY_IDS_ADDITIONAL_ID
              - COMPANY_IDS_ACCOUNTS
            uniqueItems: true
          uniqueItems: true
        optional:
          type: array
          items:
            $ref: '#/components/schemas/IdentityProductOptionalField'
          uniqueItems: true
    AddressInfo:
      type: object
      properties:
        text:
          type: string
          description: User's full address, not broken down into components. **Note:** This field has no format defined
          example: ul. Wiśniowa 133/20 00-950 Warszawa PL
          maxLength: 200
          minLength: 0
        addressLine:
          type: string
          description: User address
          example: ul. Wiśniowa 133/20
          maxLength: 200
          minLength: 0
        postalCode:
          type: string
          description: Postcode
          example: 00-950
          maxLength: 10
          minLength: 0
        city:
          type: string
          description: City
          example: Warszawa
          maxLength: 100
          minLength: 0
        country:
          type: string
          description: Country
          example: PL
          maxLength: 100
          minLength: 0
        state:
          type: string
          description: State/province
          example: California
          maxLength: 200
          minLength: 0
    MissingHeaderApiError:
      type: object
      properties:
        status:
          type: string
          description: Response status
        message:
          type: string
          description: Descriptive error message
        violations:
          type: array
          description: Validation error list
          items:
            $ref: '#/components/schemas/Violation'
        statusDetail:
          type: string
          description: Response status detailed information
      required:
      - message
      - status
      - violations
  securitySchemes:
    apiKey:
      type: http
      description: To log in, use the user's login and password. The password is the API key obtained for a specific environment. You can generate a new key in the API Keys section of the OmniPanel.
      scheme: basic
    oauth2:
      type: oauth2
      description: " To log in, use the user's login and password for client_id and client_secret, respectively. The password is the API key obtained for a specific environment. You can generate a new key in the API Keys section of the OmniPanel.\n \n Here is an example curl command for getting an access token:\n\n```bash\ncurl -i -X POST 'https://ENVIRONMENT_URL/api/oauth2/token' --header 'Authorization: Basic base64(user:pass)' --header 'Content-Type: application/x-www-form-urlencoded' -d 'grant_type=client_credentials'\n```\n\n**Note the following:**\n- use HTTP POST method while making the call\n- set the Content-Type header to application/x-www-form-urlencoded\n- pass in OAuth flow information: grant_type=client_credentials\n    Once the token has been received, it should be stored somewhere and can be used while making regular api calls.\n The OAuth calls should set the Authorization header as follows:\n \n ```http\nAuthorization: Bearer <token>\n```\n "
      scheme: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox.authologic.com/api/oauth2/token
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.authologic.com
