openapi: 3.1.0
info:
  title: Authologic Customer API
  description: "\nThe integration API for using with Authlogic Engine.\n\nAuthologic allows for simple and effective checking\
    \ of the user's identity, and the use of API enables initiation by an external system\nthe verification process and the\
    \ receipt of its results.\n                "
  contact:
    name: API support
    email: tech-support@authologic.com
  version: '1.1'
externalDocs:
  description: API Documentation
  url: https://developer.authologic.com
servers:
- url: https://sandbox.authologic.com
  description: Testing environment
security:
- apiKey: []
- oauth2: []
tags:
- name: Conversation
  description: 1. Base Methods needed for the verification process.
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/home
- name: Bank
  description: '2. Product: Bank Transactions'
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/product-bank-transactions-index
- name: AML
  description: '3. Product: AML'
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/product-aml-index
- name: Advanced
  description: 4. Advanced methods.
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/home
- name: Metadata
  description: '5. Advanced: Metadata'
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/additional-information-metadata
- name: Enterprise Integration
  description: 6. Enterprise Integration
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/additional-headless-integration
- name: Affordability assessment
  description: '7. Product: Affordability assessment'
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/product-affordability-index
- name: Database Verification
  description: '8. Product: Database Verification'
  externalDocs:
    description: Usage
    url: https://developer.authologic.com/docs/developer-documentation/product-dbv-index
paths:
  /api/conversations:
    post:
      tags:
      - Conversation
      summary: Start a new user verification process
      description: "\nEach process of getting data and confirming the identity of the user should start by calling this method.\n\
        The call initiates this process and returns information about the address to which the user should be redirected to\n\
        gathering the information requested from him.\n\n::note\nIn order to use the API you need to obtain the login and\
        \ password for a for a specific environment. \nYou can generate a new API key in the API Keys section of the OmniPanel.\n\
        The API is accessible via either HTTP Basic authentication or OAuth2 client credentials flow.\nBoth methods accept\
        \ the same API key.  \nWhen using OAuth2, the API key can be sent either via Authentication Bearer header or via HTTP\
        \ POST body.  \n::\n\n\n::note\nThis is because all of these fields may have their default values set on the Authologic\
        \ side when creating your account. If any value does not have a default setting you will get an error and you should\
        \ either provide that value or report to Authologic to set the default one.\n::\n\nThe query contains three groups\
        \ of information:\n * general information such as:\n   * **userKey**: User ID on your system\n   * **strategy**: information\
        \ about the identity checking strategy (usually the default value is sufficient)\n   * **returnUrl**: URL to which\
        \ the user should be redirected after the process is completed\n   * **callbackUrl**: information about the return\
        \ address to which the system will send the acquired information. If this information is not provided, Authologic\
        \ assumes that the information will be downloaded by the client\n * **query**: query definition containing individual\
        \ products provided by Authologic\n\n::warning\nThe test environment allows the use of an HTTP address for **callbackUrl**.\
        \ A production environment always requires HTTPS.\n::\n\n::note\nFor testing purposes, to check the callback request,\
        \ you can use online tools that accept and present the outgoing requests. One such tool is, for example, [Webhook](https://webhook.site/).\
        \ When creating a conversation, it is enough to provide the url generated by Webhook in the callbackUrl parameter.\n\
        ::\n\n\nThe information contained in the query section is divided into specific products:\n * **identity** - fetch\
        \ user information. This section is always required\n    * **requireOneOf**: User information to be specified by Authologic.\
        \ This is represented as set of sets and Authologic will try to fetch one of these\n    * **optional**: User information\
        \ that may be specified by Authologic when the information is available\n * **aml** - check user on AML lists\n  \
        \ * **checks**: lists where the user should be checked\n * **auth** - user authentication product\n * **bankTransactions**\
        \ - the process of retrieving information about transactions.\n   * **type**: type of transaction - credit, debit\
        \ or all\n   * **flags**: Additional information on what to return\n * **verify** - confirmation of the compliance\
        \ of user data\n    * **user**: information about user that should be verified\n        "
      operationId: createConversation
      requestBody:
        content:
          application/vnd.authologic.v1.1+json:
            schema:
              $ref: '#/components/schemas/CreateConversation'
            examples:
              Simple verification process example:
                summary: The simplest verification process
                description: This example shows the main scenario of verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                      optional:
                      - list:
                        - PERSON_CONTACT_EMAIL_OTP
              Multiple success options example:
                summary: The process with multiple success options
                description: This example shows how to use multiple field sets to describe alternative success options.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                        - PERSON_IDS_NATIONAL_ID
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                        - PERSON_IDS_PASSPORT_ID
                      optional:
                      - list:
                        - PERSON_CONTACT_EMAIL_OTP
              AML verification process example:
                summary: Verification process with AML continuous monitoring
                description: This example shows how to perform verification and set up the AML monitoring.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                    aml:
                      checks:
                      - PEP
                      - SANCTIONS
                      subscription: {}
              Example usage of the authorization product:
                summary: The user authorization product
                description: This example shows the main scenario for user authorization.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    auth: {}
              Example usage of the affordability product:
                summary: The affordability product
                description: This example shows the main scenario of verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    affordability:
                      user:
                        country: NL
                        email: test.user@email.com
              Example usage of the Database verification product:
                summary: The Database verification product
                description: This example shows the main scenario of identity and database verification.
                value:
                  userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                  returnUrl: https://authologic.com/tests/return/?conversation={conversationId}
                  strategy: public:default
                  query:
                    identity:
                      requireOneOf:
                      - - PERSON_NAME_FIRSTNAME
                        - PERSON_NAME_LASTNAME
                    databaseVerification: {}
      responses:
        '200':
          description: Conversation started
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ConversationInfo'
              examples:
                Conversation created response example:
                  summary: Conversation Created and waiting for the user
                  description: The conversation was created and now the user should be redirected to the given url.
                  value:
                    id: 022e8eaf-b06d-44b9-a68f-45eef1353dbe
                    userKey: 7dfb9ded-c38f-49ae-95e2-307283a0b1f6
                    url: https://sandbox.authologic.com/c/022e8eaf-b06d-44b9-a68f-45eef1353dbe
                    status: CREATED
                    result:
                      identity:
                        status: IN_PROGRESS
                        user: {}
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              examples:
                Bad request example:
                  summary: Bad request example
                  description: Example of bad request in case validation error.
                  value:
                    status: BAD_REQUEST
                    message: Validation failed for argument example_argument
                    violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Forbidden call response example:
                  summary: Forbidden example
                  description: Example of forbidden call.
                  value:
                    status: FORBIDDEN
                    message: 'Permission denied for strategy: `public:b`.'
                    violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/headless/{next}:
    post:
      tags:
      - Enterprise Integration
      summary: Send the information obtained from the user during the identity verification process
      description: '

        Takes the information from the user and calculates the next step that should be rendered to the user.


        Detailed description of returned attributes:


        | Parameter | Example | Description |

        | --------- | ------- | ----------- |

        | component | `GLOBAL/ACCEPTED` | Name of method related with current step and expected action related to UI in verification
        process. |

        | next | `fd78cf43-12a7...` | Id of the page to which the user information should be submitted. Information is sent
        via the method `POST /api/conversations/{conversationId}/headless/{next}`. |

        | args | parameter name list | List of parameters that should be displayed to the user. |

        | errors | map with field name and error description | A map specifying incorrectly entered form fields and a description
        of the associated error. |

        | errors.field | parameter name sent in `body` attribute, validated and marked as incorrect | Value specifying incorrectly
        entered form field. |

        | errors.code  | error code related to the field described in `errors.field` attribute | Value describing the error
        associated to the form field. |

        '
      operationId: nextStep
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: next
        in: path
        description: Next step ID
        required: true
        schema:
          type: string
      - name: X-User-IP
        in: header
        description: User IP Address
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeadlessNextPageRequest'
        required: true
      responses:
        '200':
          description: Information available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/HeadlessPage'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Permission denied
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:global`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}:
    get:
      tags:
      - Conversation
      summary: Retrieving up-to-date data as defined by the user identity verification process
      description: "\n::warning\nIn practice, instead of this method you should use the callback mechanism described <a href=\"\
        https://developer.authologic.com/docs/developer-documentation/integration-callbacks\">here</a>.\n::\n\nReturns information\
        \ about how the identity validation process is performed for the given conversation ID.\nIn the case of using the\
        \ callback mechanism, the use of this method is optional - data needed\nare sent automatically when they change.\n\
        \n## Detailed Description of the Reply Contents\n\n| Parameter | Example                                         \
        \                              | Description                                                                     \
        \                                                                                                                \
        \                                                                                           |\n|-----------|-------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | id | `e0c0b3cc-8238-414f-9940-9f14bd1b8693`                                          | Conversation ID.        \
        \                                                                                                                \
        \                                                                                                                \
        \                                   |\n| userKey | `7dfb9ded-c38f-49ae-95e2-307283a0b1f6`                        \
        \                  | User ID on your system.                                                                     \
        \                                                                                                                \
        \                                                                               |\n| url | `https://sandbox.authologic.com/c/c12c1adc-3ff0-4d32-b95c-c593135c903e`\
        \         | A unique web address to which the user should be redirected to verify his identity.                  \
        \                                                                                                                \
        \                                                                      |\n| status | `FINISHED`                  \
        \                                                    | Conversation status: `CREATED` - ready conversation, `IN_PROGRESS`\
        \ - query data being specified, `FINISHED` - query is complete,  `CANCELED` - user aborted, `EXPIRED` - conversation\
        \ expired     |\n| result | -                                                                             | Structure\
        \ describing the information found                                                                               \
        \                                                                                                                \
        \                                                  |\n| result.identity | -                                      \
        \                                       | Structure describing the result of the identity check                  \
        \                                                                                                                \
        \                                                                                                    |\n| result.identity.status\
        \ |                                                                               | Identity validation effect: `IN_PROGRESS`\
        \ - checks in progress, `FINISHED` - checks from query complete, `PARTIAL` - checks completed but only part of the\
        \ data could be determined, `FAILED` - checks completed but no data could be determined.                         \
        \                 |\n| result.identity.user | (see example in `verify.user` from `/api/conversations`)           \
        \           | User information                                                                                   \
        \                                                                                                                \
        \                                                                        |\n| result.identity.errors | `[\"SCAN_DOCUMENT_NOT_DETECTED\"\
        ]`                                                | Information about the causes of errors. The content depends on\
        \ the specific method of verification                                                                            \
        \                                                                                                             |\n\
        | result.identity.checks | -                                                                             | A list\
        \ of additional validations performed on user data                                                               \
        \                                                                                                                \
        \                                                     |\n| result.aml | -                                        \
        \                                     | Structure describing the result of user checking on AML lists            \
        \                                                                                                                \
        \                                                                                                  |\n| result.aml.status\
        \ |                                                                               | User checking effect. Same as\
        \ the `result.identity.status` field                                                                             \
        \                                                                                                                \
        \                              |\n| result.aml.found | `[\"PEP\", \"SANCTIONS\", \"ADVERSE_MEDIA\", \"SIP\", \"OTHER\"\
        ]`                         | A table informing about the AML lists on which user data was found.                 \
        \                                                                                                                \
        \                                                                                       |\n| result.aml.subscription\
        \ | -                                                                             | Structure that informs that the\
        \ AMLs to be checked are periodic                                                                                \
        \                                                                                                                \
        \                            |\n| result.aml.subscription.active | `true`                                        \
        \                                  | Structure that informs about active periodic AML checking                   \
        \                                                                                                                \
        \                                                                                               |\n| result.aml.subscription.lastChanged\
        \ | `\"2020-09-17T11:18:21.999Z\"`                                                    | Date when the user's information\
        \ on the AMLs was last changed                                                                                   \
        \                                                                                                                \
        \                           |\n| result.verify | -                                                               \
        \              | Structure describing the result of comparing the data obtained from the identity verification process\
        \                                                                                                                \
        \                                                                      |\n| result.verify.status |               \
        \                                                                | Identity validation effect: `IN_PROGRESS` - checks\
        \ in progress, `FINISHED` - checks from query complete, `PARTIAL` - checks completed but only part of the data could\
        \ be determined, `FAILED` - checks completed but no data could be determined.                                    \
        \      |\n| result.verify.reliability | `0.66667`                                                                \
        \       | A number specifying the similarity of the data obtained from the identity check process to the data provided\
        \ in the query, where `0` means different data and `1.0` means identical data. Due to the differences in the format,\
        \ data recording the value can be any value between 0 and 1. |\n| result.verify.details | -                      \
        \                                                       | Details of the individual data comparison storing the name\
        \ of the field being compared and a number indicating the similarity of the data.                                \
        \                                                                                                                \
        \ |\n| result.auth | -                                                                             | Structure describing\
        \ the result of user authentication                                                                              \
        \                                                                                                                \
        \                                       |\n| result.auth.status |                                                \
        \                               | Authentication status: `IN_PROGRESS` - checks in progress, `FINISHED` - checks from\
        \ query complete, `FAILED` - checks completed but no data could be determined.                                   \
        \                                                                                         |\n| result.auth.token |\
        \ `a7d5d522-5308-4ec9-9789-53b4ec6d47ae`                                          | A unique user ID associated with\
        \ a given login method. Going through the login process again with the given method will always return the same token.\
        \                                                                                                                \
        \                      |\n| result.auth.challenge | `403ad98c-c5fd-4991-a365-12ec70a93932`                       \
        \                   | A unique equivalent of the user login associated with a given login method. Used in methods\
        \ that cannot determine who is authenticating and need this information to run the process.                      \
        \                                                                                |\n| result.bankTransactions | -\
        \                                                                             | Structure describing the result of\
        \ downloading transactions                                                                                       \
        \                                                                                                                \
        \                         |\n| result.bankTransactions.status |                                                  \
        \                             | Effect of downloading transactions. Same as the `result.identity.status`         \
        \                                                                                                                \
        \                                                                                          |\n| result.affordability\
        \ | -                                                                             | Structure describing the result\
        \ of the identity check                                                                                          \
        \                                                                                                                \
        \                            |\n| result.affordability.status |                                                  \
        \                             | Affordability assessment validation effect: `IN_PROGRESS` - checks in progress, `FINISHED`\
        \ - checks from query complete, `FAILED` - checks completed but no data could be determined.                     \
        \                     |\n| result.affordability.errors | `[\"PROVIDER_UNAVAILABLE\"]`                            \
        \                    | Information about the causes of errors.                                                   \
        \                                                                                                                \
        \                 |\n| result.databaseVerification | -                                                           \
        \                  | Structure describing the result of the database verification check                          \
        \                                                                                                                \
        \                                                                                            |\n| result.databaseVerification.status\
        \ |                                                                        | Database verification effect: `IN_PROGRESS`\
        \ - checks in progress, `FINISHED` - checks from query complete, `PARTIAL` - checks completed but only part of the\
        \ data could be determined, `FAILED` - the checks have been completed, but none of the databases were successfully\
        \ verified.                                          |\n| info | -                                               \
        \                              | Optional information containing an array describing the data sources used in the\
        \ conversation.                                                                                                  \
        \                                                                                           |\n| info.country | `PL`\
        \                                                                            | Selected/used country in ISO 3166-1\
        \ alpha-2 format                                                                                                 \
        \                                                                                                                \
        \                        |\n| method | `PSD2`                                                                    \
        \      | Data source used specifying the verification method or data source used.                                \
        \                                                                                                                \
        \                                                                   |\n\n        "
      operationId: getConversation
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Conversation found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ConversationInfo'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
    delete:
      tags:
      - Advanced
      summary: Block access or delete data of the verification process
      description: "\nCreates the conversation deletion order in two available modes:\n * EXPIRE (default) - triggers the\
        \ process of expiration of active conversation. \n After completing such an order, the conversation will be switched\
        \ to the 'EXPIRED' status.\n The verification process will be blocked. \n This means that the user entering such a\
        \ verification process will be automatically redirected to the 'returnUrl' address.\n * DELETE_DATA - triggers the\
        \ process of data deletion from finished conversation. \n This mode should be used with caution, when you are sure\
        \ that you do not expect any callbacks associated with the conversation \n as they may not be delivered.\n        "
      operationId: deleteConversation
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: mode
        in: query
        description: Deletion mode
        required: false
        schema:
          type: string
          enum:
          - EXPIRE
          - DELETE_DATA
      responses:
        '202':
          description: Accepted
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: Permission denied.
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '409':
          description: Conflict
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Conversation cannot be expired as it is already finished.:
                  description: Conversation cannot be expired as it is already finished.
                  value:
                    status: CONFLICT
                    message: Conversation cannot be expired as it is already finished.
                    violations: []
                    statusDetail: ConversationAlreadyFinished
                Conversation cannot be deleted because it is not yet finished.:
                  description: Conversation cannot be deleted because it is not yet finished.
                  value:
                    status: CONFLICT
                    message: Conversation cannot be deleted because it is not yet finished.
                    violations: []
                    statusDetail: ConversationNotYetFinished
                Conversation cannot be deleted because it has an active subscription.:
                  description: Conversation cannot be deleted because it has an active subscription.
                  value:
                    status: CONFLICT
                    message: Conversation cannot be deleted because it has an active subscription.
                    violations: []
                    statusDetail: ActiveSubscriptionExists
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/identity/metadata:
    get:
      tags:
      - Metadata
      summary: Retrieving information about the metadata collected during the identification process
      description: "\nReturns information about the available metadata that was collected during the identification process.\n\
        \nDetailed description of returned fields:\n\n| Parameter | Example | Description |\n| --------- | ------- | -----------\
        \ |\n| id | `9db8a804-4570-403e-9da6-162e608585e8` | Conversation ID. |\n| letter | - | A structure representing the\
        \ set of metadata collected from the identity validation process. |\n| list.media | - | List of information about\
        \ available multimedia files. |\n| list.media.id | `7a4d1a9f-bdac-4d2c-96a6-bb51fb4ec7c5` | The ID of the media file.\
        \ |\n| list.media.type | `DOCUMENT` | Media file type. Possible values: `DOCUMENT` - document of the authenticated\
        \ person, `FACE` - face of the authenticated person, `REPORT` - report on the verification process |\n| list.media.subtype\
        \ | `ID_CARD` | The sub-type of the media file, such as the type of document. The value is blank if `type` = `FACE`.\
        \ `ID_CARD` - identity card of the authenticated person, `DRIVER_LICENSE` - driving license of the authenticated person,\
        \ `PASSPORT` - passport of the authenticated person, `RESIDENCE_PERMIT` - residence card of the authenticated person,\
        \ `UTILITY_BILL` - proof of address of the authenticated person |\n| list.media.variant | `FRONT` | Variant of the\
        \ media file, e.g. document page. The value is blank if `type` = `FACE`. `FRONT` - front side of the document, `BACK`\
        \ - back side of the document |\n| list.media.contentType | `image/png` | The type of media file content. Example\
        \ values: `image/png`, `video/mp4` |\n        "
      operationId: getMetadata
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Information available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/IdentityMetadata'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Permission denied
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/identity/metadata/media/{id}:
    get:
      tags:
      - Metadata
      summary: Retrieving media file that was collected during the identification process
      description: "\nReturns stream of media file (images, videos, pdf reports etc.) collected during identification process.\n\
        \nIf the answer is successful, the data stream will be provided along with the following key HTTP headers:\n\n| Header\
        \ | Example | Description |\n| ------ | ------- | ----------- |\n| content-disposition | attachment; filename = 9db8a804-4570-403e-9da6-162e608585e8_idi_ID_CARD_BACK.png\
        \ | The file name is generated based on information about the media file. |\n| content-type | image / png | The type\
        \ of multimedia file content, similar to the one presented in the information about the given file. |\n| status |\
        \ 200 | Response status. |\n\nIn case of a wrong answer, the error information will be passed in the format `application/vnd.authologic.v1.1+json`.\n\
        \        "
      operationId: getMedia
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Media ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Information available
          content:
            application/octet-stream: {}
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Permission denied
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/headless:
    get:
      tags:
      - Enterprise Integration
      summary: Obtaining the information needed to show the user the current page of the identity verification process
      description: '

        Returns information about the values that should be rendered on page and displayed to the user.


        Detailed description of the returned attributes:


        | Parameter | Example | Description |

        | --------- | ------- | ----------- |

        | component | `SMART_ID/SHOW_CODE` | Name of method related with current step and expected action related to UI in
        verification process. |

        | next | `fd78cf43-12a7...` | Id of the page to which the user information should be submitted. Information is sent
        via the method `POST /api/conversations/{conversationId}/headless/{next}`. |

        | args | parameter name list | List of parameters that should be displayed to the user. |

        '
      operationId: currentStep
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: X-User-IP
        in: header
        description: User IP Address
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Information available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/HeadlessPage'
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Permission denied
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:global`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/databaseVerification/info:
    get:
      tags:
      - Database Verification
      summary: Retrieving the database verification product information relating to the conversation
      description: '

        Returns information about how the database verification process is performed for the given conversation ID.

        Results are available when the appropriate callback is received, or when the _databaseVerification_ status reaches
        _FINISHED_ OR _FAILED_.


        ## Response Content


        Detailed description of returned fields:


        | Parameter                             | Example | Description |

        |---------------------------------------| ------- | ----------- |

        |source| - | List of database verification source results. |

        |source.name|MATCHING| Type of the database verification use case (MATCHING). |

        |source.status|FINISHED| Processing status of the source (FINISHED / FAILED). |

        |source.sourceName|Australia Residential| Name of the source/database. |

        |source.sourceType|MARKETING| Type of the source/database (MARKETING / GOVERNMENT). |

        |source.sourceMatchResult|NO_MATCH| Overall match result (FULL_MATCH / PARTIAL_MATCH / NO_MATCH). |

        |source.errors|[SOURCE_UNAVAILABLE]| Information about the causes of errors. The content depends on the specific verification
        source. |

        '
      operationId: getDbV
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Database verification results available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/DatabaseVerification'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/bankTransactions:
    get:
      tags:
      - Bank
      summary: Retrieving a list of banking transactions related to the conversation
      description: "\nThe method allows you to get user transactions, if the conversation contains them. By default, it downloads\
        \ transactions for a maximum of 90 full days,\nthat is: today + 90 previous days. If you need a larger scope - please\
        \ contact us. Transactions are returned as defined when creating the conversation.\nBy default, this means both crediting\
        \ and debiting the account, and only transactions that have already been made (posted or pending).\nTransactions are\
        \ available when the appropriate callback is received, or when the _bankTransactions_ status reaches _FINISHED_.\n\
        \n## Query Parameters Description\nThe method supports the following query parameters:\n\n| Parameter | Example |\
        \ Description |\n| ------- | ------- | ------- |\n| page | `10` | Page number. Paging starts on page 0 (default).\
        \ |\n| pageSize | `10` | Number of transactions on the results page. Currently, values above 200 are treated as 200.\
        \ |\n\n## Response Content\n\nDetailed description of returned fields:\n\n| Parameter                            \
        \ | Example | Description |\n|---------------------------------------| ------- | ----------- |\n| id             \
        \                       | `34df2bd6-b790-4560-9fc9-f86c86d87990`  | Unique transaction identifier |\n| date | `2020-08-27T10:40:28.348Z`\
        \ | Date of operation in UTC time |\n| status | `PENDING` | Status of a given transaction at the time of downloading\
        \ information from the bank. Allowed values: `BOOKED` - posted transaction, `PENDING` - transaction in progress, `SCHEDULED`\
        \ - future transaction. Scheduled transactions appear when the `flags` field with the value` INCLUDE_SCHEDULED` was\
        \ specified when creating the conversation. |\n| bank | `BREXPLPW` | Bank where the transaction was performed. The\
        \ value identifies the bank as the SWIFT / BIC code. |\n| accountId | `PL68249000050000400075212326` | Account number\
        \ where transaction was registered. |\n| type | `DEBIT` | Type of transaction. Available values: `DEBIT` (account\
        \ debit) and `CREDIT` (account credit) |\n| amount | `1000` | Value of the transaction in a currency unit, e.g. in\
        \ grosze. |\n| currency | `PLN` | type of currency |\n| title | `Account top-up` | Transaction title |\n| sender |\
        \ `Jan Kowalski` | Transaction sender |\n| senderAccountId | `PL68249000050000400075212326` | Account number of the\
        \ sender |\n| recipient | `Jan Kowalski` | Recipient of the transaction |\n| recipientAccountId | `PL32114020040000320250132522`\
        \ | Account number of the receiver |\n| tags | `[\"transfer:bank:commission\", \"income:crypto\"]` | Transaction categories\
        \ |\n        "
      operationId: getBankTransactions
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: pageSize
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          maximum: 200
          minimum: 0
      responses:
        '200':
          description: Transaction list available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/Transactions'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/bankTransactions/stats:
    get:
      tags:
      - Bank
      summary: Retrieving statistics of downloaded banking transactions related to the conversation
      description: "\nReturns statistics related to downloaded transactions. These statistics are returned for each account\
        \ that has been shared as part of the conversation.\nThis information only occurs when the _bankTransactions_ section\
        \ is defined when creating a conversation.\nand are available when the appropriate callback is received, or when the\
        \ _bankTransactions_ status reaches _FINISHED_.\n\n## Query Parameter Description\nThe method supports the following\
        \ query parameters:\n\n| Parameter | Example | Description |\n| --------- | ------- | ----------- |\n| dateFrom |\
        \ 2020-09-17T11: 18: 21.999Z | The starting date for the scope of analyzed transactions in the format https://tools.ietf.org/html/rfc3339.\
        \ The default value is the oldest available transaction. You can enter an earlier date, but only transactions that\
        \ the user has shared will be included. |\n| dateTo | 2020-09-17T11: 18: 21.999Z | The end date for the range of analyzed\
        \ transactions in the format https://tools.ietf.org/html/rfc3339. The default value is the latest available transaction.\
        \ You can enter a later date, but only transactions that the user has shared will be included. |\n\n## Response Content\
        \ Description\n\n::note\nReturned fields may be missing some information. For example, if only the account credits\
        \ were\nselected when creating a conversation, the statistics do not contain information about the charges.\n::\n\n\
        Detailed description of returned fields:\n\n| Parameter                               | Example                  \
        \    | Description |\n|-----------------------------------------|------------------------------| ----------- |\n|\
        \ dateFrom                                | 2020-09-16T10: 44: 51.544Z   | The starting date of the search criteria,\
        \ or the date of the first transaction for all bank accounts, if the criteria was empty. The field will not be presented\
        \ if the starting date criterion is not specified and there are no transactions in the given search criteria. |\n\
        | dateTo                                  | 2020-09-16T10: 44: 51.544Z   | End date of the search criteria, or the\
        \ date of the last transaction for all bank accounts, if the criteria was empty. The field will not be presented if\
        \ the end date criterion is not specified and there are no transactions in the given search criteria. |\n| items \
        \                                  | -                            | A structure containing information about transaction\
        \ statistics. Each element of this structure represents statistics from a separate bank account. |\n| items.dateFirst\
        \                         | 2020-06-16T00: 00: 00.000Z   | Date of the first transaction in the range. |\n| items.dateLast\
        \                          | 2020-09-16T00: 00: 00.000Z   | Date of the last transaction in the range. |\n| items.numberOfCreditTransactions\
        \        | 12                           | Number of bank account discretionary transactions. |\n| items.numberOfDebitTransactions\
        \         | 12                           | Number of debit transactions on the bank account. |\n| items.avgCreditPerMonth\
        \                 | 300,000                      | Average value of credit transactions per month, presented in basic\
        \ units - e.g. in grosze. The value will be available if the analyzed period is greater than 60 days. |\n| items.avgDebitPerMonth\
        \                  | 258000                       | Average value of debit transactions per month, presented in basic\
        \ units - e.g. in grosze. The value will be available if the analyzed period is greater than 60 days. |\n| items.avgCredit\
        \                         | 30,000                       | Average value of bank account discretionary transactions,\
        \ presented in basic units - e.g. in grosze. |\n| items.avgDebit                          | 40,000               \
        \        | Average value of bank account debit transactions, presented in basic units - e.g. in grosze. |\n| items.maxCredit\
        \                         | 110000                       | Maximum value of a bank account discretionary transaction,\
        \ presented in basic units - e.g. in grosze. |\n| items.maxDebit                          | 132000               \
        \        | The maximum value of the debit transaction from the bank account, presented in basic units - e.g. in grosze.\
        \ |\n| items.accountId                         | PL68249000050000400075212326 | Account number.                  |\n\
        | items.currency                          | PLN                          | Currency code for a given bank account.\
        \ |\n\n        "
      operationId: getBankTransactionsStats
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        description: Starting date
        required: false
        schema:
          type: string
          format: date-time
        example: '2020-07-24T08:00:00Z'
      - name: dateTo
        in: query
        description: End date
        required: false
        schema:
          type: string
          format: date-time
        example: '2020-08-24T00:00:00Z'
      responses:
        '200':
          description: Information available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/TransactionsStatistics'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/bankTransactions/accounts:
    get:
      tags:
      - Bank
      summary: Retrieving information on bank accounts related to the conversation
      description: "\nReturns information about the accounts from which transactions have been downloaded.\nThis information\
        \ occurs only when the _bankTransactions_ section was defined when creating a conversation.\nand are available when\
        \ the appropriate callback is received, or when the _bankTransactions_ status reaches _FINISHED_.\n\n## Description\
        \ of the Response Content\n\nDetailed description of returned fields:\n\n| Parameter | Example | Description |\n|\
        \ --------- | ------- | ----------- |\n| date | 2020-09-17T11: 18: 21.999Z | Date on which the information was collected.|\n\
        | balance | 10030 | Account balance in a currency unit, e.g. in pennies. The value determines the balance of funds\
        \ available on the account or, if there is no such information, the balance of funds booked. It may not occur if the\
        \ bank does not provide the balance. |\n| bank | BREXPLPW | Bank where the transaction was performed. The value identifies\
        \ the bank as the SWIFT / BIC code. |\n| accountId | PL68249000050000400075212326 | Account number. |\n| currency\
        \ | PLN | currency type |\n| activationDate | 2014-11-19 | The date when the account was opened or the date of the\
        \ oldest transaction found. |\n\n        "
      operationId: getBankTransactionsAccounts
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account information available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/Accounts'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/aml/{list}:
    get:
      tags:
      - AML
      summary: Retrieving detailed information about the user collected during the AML process
      description: "\nThe method retrieves data found in AML lists based on user data. Data from AML lists as defined when\
        \ creating the conversation.\nWhen a continuous AML monitoring subscription is activated, only the latest available\
        \ data is returned.\n\nWe can specify the list type in the query by specifying one of the following AML list types:\
        \ `PEP`, `SIP`, `SANCTIONS`, `ADVERSE_MEDIA`, `OTHER`.\nDepending on the type of list you select, the structure of\
        \ the response may vary.\n\n::note\nAML verification sources provide data in an inconsistent form, e.g., some dates\
        \ and country names. We currently provide this data as received from the source, but in future we may unify them on\
        \ Authologic side. This may change the format of the data available to the API.\n::\n\n### Response Parameters Available\
        \ for PEP List Type\n\n| Parameter                              | Example                                 | Description\
        \                                                                              |\n|----------------------------------------|-----------------------------------------|------------------------------------------------------------------------------------------|\n\
        | type                                   | PERSON                                  | Informs if entry describes user\
        \ or users's relative: `PERSON` - user, `RCA` - users's relative |\n| score                                  | 0.98\
        \                                    | Compliance level of provided personal data with results (0-1 if provided or\
        \ null)        |\n| reason                                 | --                                      | Reason why\
        \ person is on the list                                                         |\n| user.person                 \
        \           | --                                      | Data found on AML lists for provided person              \
        \                                |\n| user.person.name.firstName             | --                                \
        \      | User name                                                                                |\n| user.person.name.lastName\
        \              | --                                      | User surname                                          \
        \                                   |\n| user.person.name.middleName            | --                             \
        \         | Second name                                                                              |\n| user.person.name.spellings\
        \             | --                                      | Correct spelling of name and surname (including national\
        \ language)                       |\n| user.person.name.alsoKnownAs           | --                               \
        \       | Alias names of person under verification                                                 |\n| user.person.name.alsoKnownAs.firstName\
        \ | --                                      | User's other firstname                                             \
        \                      |\n| user.person.name.alsoKnownAs.lastName  | --                                      | User's\
        \ other surname                                                                     |\n| user.person.name.alsoKnownAs.title\
        \     | --                                      | User alias                                                     \
        \                          |\n| user.person.address.country            | POLAND (no unified country name format) |\
        \ Country of residence of the person                       |\n| user.person.info                       | --      \
        \                                | Additional information about the person under verification                    \
        \           |\n| user.person.info.gender                | MALE                                    | The gender of\
        \ the user: `MALE`, `FEMALE`, `OTHER`                                        |\n| user.person.info.nationality   \
        \        | Poland (no unified country name format) | User's nationality                                       |\n\
        | user.person.info.birthDate             | 1972-10-18 (no unified date format)     | Date of birth |\n| user.person.info.deceased\
        \              | true/false                              | Information if person is dead |\n| user.person.info.deceaseDate\
        \           | 2020-10-18 (no unified date format)     | Date of death |\n| user.person.info.image                \
        \ | --                                      | URL to person's picture |\n| user.person.info.roles                \
        \ | --                                      | Information about the exposed position held by the person |\n| user.person.info.roles[].title\
        \         | --                                      | Position held or `Unknown` if position is unknown |\n| user.person.info.roles[].country\
        \       | (no unified country name format)        | The country in which the position was held or 'Unknown' if country\
        \ is unknown |\n| user.person.info.roles[].fromDate      | 2014-05-01 (no unified date format)     | Start date of\
        \ tenure |\n| user.person.info.roles[].tillDate      | 2019 (no unified date format)           | End date of tenure\
        \ |\n\n### Response Parameters Available for SANCTIONS List Type\n\n| Parameter                                  \
        \         | Example | Description                                                                                \
        \   |\n|-----------------------------------------------------|---------|-----------------------------------------------------------------------------------------------|\n\
        | type                                                | PERSON  | Informs if entry describes user or users's relative:\
        \ `PERSON` - user, `RCA` - user's relative |\n| score | 0.98 | Compliance level of provided personal data with results\
        \ (0-1 if provided or null) |\n| reason | -- | Reason why person is on the list |\n| sources | -- | Names of AML list\
        \ types on which the person was found |\n| user.person | -- | Data found on AML lists for provided person |\n| user.person.name.firstName\
        \ | -- | User name |\n| user.person.name.lastName | -- | User surname |\n| user.person.name.middleName | -- | Second\
        \ name |\n| user.person.name.spellings | -- | Correct spelling of name and surname (including national language) |\n\
        | user.person.name.alsoKnownAs | -- | Alias names of person under verification |\n| user.person.name.alsoKnownAs.firstName\
        \ | -- | User's other firstname |\n| user.person.name.alsoKnownAs.lastName | -- | User's other surname |\n| user.person.name.alsoKnownAs.title\
        \ | -- | User alias |\n| user.person.address.country | POLAND (no unified country name format) | Country of residence\
        \ of the person |\n| user.person.info | -- | Additional information about the person under verification |\n| user.person.info.gender\
        \ | MALE | The gender of the user: `MALE`, `FEMALE`, `OTHER` |\n| user.person.info.nationality | Poland (no unified\
        \ country name format) | User's nationality |\n| user.person.info.birthDate | 1972-10-18 (no unified date format)\
        \ | Date of birth |\n| user.person.info.deceased | true/false | Information if person is dead |\n| user.person.info.deceaseDate\
        \ | 2020-10-18 (no unified date format)| Date of death |\n| user.person.info.image | -- | URL to person's picture\
        \ |\n| user.person.info.roles | -- | Information about the exposed position held by the person |\n| user.person.info.roles[].title\
        \ | -- | Position held or 'Unknown' if position is unknown |\n| user.person.info.roles[].country | (no unified country\
        \ name format) | The country in which the position was held or 'Unknown' if country is unknown |\n| user.person.info.roles[].fromDate\
        \ | 2014-05-01 (no unified date format) | Start date of tenure |\n| user.person.info.roles[].tillDate | 2019 (no unified\
        \ date format) | End date of tenure |\n\n\n### Response Parameters Available for SIP List Type\n\n| Parameter | Example\
        \ | Description                                                                                  |\n|-----------|\
        \ ------- |----------------------------------------------------------------------------------------------|\n| type\
        \      | PERSON    | Informs if entry describes user or users's relative `PERSON` - user, `RCA` - user's relative\
        \ |\n| score | 0.98 | Compliance level of provided personal data with results (0-1 if provided or null) |\n| reason\
        \ | -- | Reason why person is on the list |\n| user.person | -- | Data found on AML lists for provided person |\n\
        | user.person.name.firstName | -- | User name |\n| user.person.name.lastName | -- | User surname |\n| user.person.name.middleName\
        \ | -- | Second name |\n| user.person.name.spellings | -- | Correct spelling of name and surname (including national\
        \ language) |\n| user.person.name.alsoKnownAs | -- | Alias names of person under verification |\n| user.person.name.alsoKnownAs.firstName\
        \ | -- | User's other firstname |\n| user.person.name.alsoKnownAs.lastName | -- | User's other surname |\n| user.person.name.alsoKnownAs.title\
        \ | -- | User alias |\n| user.person.address.country | POLAND (no unified country name format) | Country of residence\
        \ of the person |\n| user.person.info | -- | Additional information about the person under verification |\n| user.person.info.gender\
        \ | `MALE` | The gender of the user: `MALE`, `FEMALE`, `OTHER`  |\n| user.person.info.nationality | Poland (no unified\
        \ country name format) | User's nationality |\n| user.person.info.birthDate | 1972-10-18 (no unified date format)\
        \ | Date of birth |\n| user.person.info.deceased | true/false | Information if person is dead |\n| user.person.info.deceaseDate\
        \ | 2020-10-18 (no unified date format) | Date of death |\n| user.person.info.image | -- | URL to person's picture\
        \ |\n| user.person.info.roles | -- | Information about the exposed position held by the person |\n| user.person.info.roles[].title\
        \ | -- | Position held or 'Unknown' if position is unknown |\n| user.person.info.roles[].country | (no unified country\
        \ name format) | The country in which the position was held or `Unknown` if country is unknown |\n| user.person.info.roles[].fromDate\
        \ | 2014-05-01 (no unified date format) | Start date of tenure |\n| user.person.info.roles[].tillDate | 2019 (no unified\
        \ date format) | End date of tenure |\n\n### Response Parameters Available for ADVERSE_MEDIA List Type\n\n| Parameter\
        \ | Example | Description |\n| --------- | ------- | ----------- |\n| originalUrl | -- | Link to adverse article |\n\
        | date | 2020-10-18 (date format yyyy-MM-dd) | Adverse media publication date |\n| url | -- | Link to PDF with original\
        \ adverse media publication |\n| categories | -- | Media categorization |\n\n### Response Parameters Available for\
        \ OTHER List Type\n\n| Parameter | Example | Description |\n|-----------| ------- | ----------- |\n| type | PERSON\
        \    | Informs if entry describes user or users's relative: `PERSON` - user, `RCA` - user's relative |\n| score |\
        \ 0.98 | Compliance level of provided personal data with results (0-1 if provided or null) |\n| reason | -- | Reason\
        \ why person is on the list |\n| user.person | -- | Data found on AML lists for provided person |\n| user.person.name.firstName\
        \ | -- | User name |\n| user.person.name.lastName | -- | User surname |\n| user.person.name.middleName | -- | Second\
        \ name |\n| user.person.name.spellings | -- | Correct spelling of name and surname (including national language) |\n\
        | user.person.name.alsoKnownAs | -- | Alias names of person under verification |\n| user.person.name.alsoKnownAs.firstName\
        \ | -- | User's other firstname |\n| user.person.name.alsoKnownAs.lastName | -- | User's other surname |\n| user.person.name.alsoKnownAs.title\
        \ | -- | User alias |\n| user.person.address.country | POLAND (no unified country name format) | Country of residence\
        \ of the person |\n| user.person.info | -- | Additional information about the person under verification |\n| user.person.info.gender\
        \ | MALE | The gender of the user: `MALE`, `FEMALE`, `OTHER` |\n| user.person.info.nationality | Poland (no unified\
        \ country name format) | User's nationality |\n| user.person.info.birthDate | 1972-10-18 (no unified date format)\
        \ | Date of birth |\n| user.person.info.deceased | true/false | Information if person is dead |\n| user.person.info.deceaseDate\
        \ | 2020-10-18 (no unified date format) | Date of death |\n| user.person.info.image | -- | URL to person's picture\
        \ |\n| user.person.info.roles | -- | Information about the exposed position held by the person |\n| user.person.info.roles[].title\
        \ | -- | Position held or `Unknown` if position is unknown |\n| user.person.info.roles[].country | (no unified country\
        \ name format) | The country in which the position was held or `Unknown` if country is unknown |\n| user.person.info.roles[].fromDate\
        \ | 2014-05-01 (no unified date format) | Start date of tenure |\n| user.person.info.roles[].tillDate | 2019 (no unified\
        \ date format) | End date of tenure |\n\n\n        "
      operationId: getAMLList
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: pageSize
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          maximum: 200
          minimum: 1
      - name: list
        in: path
        description: List name
        required: true
        schema:
          type: string
          enum:
          - PEP
          - SANCTIONS
          - ADVERSE_MEDIA
          - SIP
          - OTHER
        example: SANCTIONS
      responses:
        '200':
          description: User found on given AML list
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/AMLInfo'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/conversations/{conversationId}/affordability/info:
    get:
      tags:
      - Affordability assessment
      summary: Retrieving the affordability assessment product information relating to the conversation
      description: "\nReturns information about how the affordability assessment validation process is performed for the given\
        \ conversation ID.\nResults are available when the appropriate callback is received, or when the _affordabilityAssessment_\
        \ status reaches _FINISHED_.\n\n## Response Content \n\nDetailed description of returned fields:\n\n| Parameter  \
        \                           | Example | Description |\n|---------------------------------------| ------- | -----------\
        \ |\n|personalInformation| - | A structure representing the set of personal data collected in affordability assessment\
        \ validation process. |\n|personalInformation.firstName| `Jan` | Person's first name |\n|personalInformation.lastName|`Kowalski`|\
        \ Person's last name |\n|personalInformation.fullName|`Jan Kowalski`| Person's full name |\n|personalInformation.birthDate|`1985-07-20`|\
        \ Person's date of birth |,\n|personalInformation.address| - | A structure representing the set of address related\
        \ data collected in affordability assessment validation process. |\n|personalInformation.address.text|`Testowa 5 00-001\
        \ Warszawa Polska`| Full adress |\n|personalInformation.address.addressLine|`5`| House number |\n|personalInformation.address.postalCode|`00-001`|\
        \ Postal code |\n|personalInformation.address.city|`Warszawa`| City |\n|personalInformation.address.country|`Polska`|\
        \ Country |\n|accountInformation| - | A structure representing the set of data related with account collected in affordability\
        \ assessment validation process. |\n|accountInformation.account| - | List of account information. |\n|accountInformation.account.accountNumber|`PL12345678901234567890123456`|\
        \ Account number |\n|accountInformation.account.bankName|`Bank Millennium`|  Bank name |\n|accountInformation.account.accountType|`Current`|\
        \ Account type/name |\n|accountInformation.account.balance|`15450.75`| Balance|\n|accountInformation.account.currency|`EUR`|\
        \ Currency|\n|accountInformation.account.overdraft|`true`| Account has an overdraft  |\n|sourceOfFundsInformation|\
        \ - | A structure representing the set of data related with source of funds information collected in affordability\
        \ assessment validation process. |\n|sourceOfFundsInformation.sourceOfFunds| - | List of sources. |\n|sourceOfFundsInformation.sourceOfFunds.type|`Employment`|\
        \ Source type |\n|sourceOfFundsInformation.sourceOfFunds.name|`Tech Solutions sp. z o.o.`| Name of the institution\
        \ which is the source of funds. |\n|sourceOfFundsInformation.sourceOfFunds.grossAmount|`8500.0`| Contract gross amount\
        \ |\n|sourceOfFundsInformation.sourceOfFunds.netAmount|`6120.5`| Contract net amount |\n|sourceOfFundsInformation.sourceOfFunds.currency|`EUR`|\
        \ Currency|\n|sourceOfFundsInformation.sourceOfFunds.currencyConversion.convertedAmount|`4766.94`| Net income after\
        \ conversion to target currency |\n|sourceOfFundsInformation.sourceOfFunds.currencyConversion.targetCurrency|`USD`|\
        \ Target currency |\n|sourceOfFundsInformation.sourceOfFunds.currencyConversion.convertedAmount|`1.1770`| Exchange\
        \ rate applied by provider |\n|sourceOfFundsInformation.sourceOfFunds.frequency|`Monthly`| Payment frequency |\n|sourceOfFundsInformation.sourceOfFunds.contractType|`Permanent`|\
        \ Type of the contract  |\n|sourceOfFundsInformation.sourceOfFunds.contractEndDate|`2099-12-31`| Contract end date\
        \ |\n|sourceOfFundsInformation.sourceOfFunds.partTimePercentage|`1`| Part of a full-time position covered by the agreement\
        \ |\n|documentInformation| - | A structure representing the set of data related with document collected in affordability\
        \ assessment validation process. |\n|documentInformation.type|`EmploymentContract`| Type of the collected document\
        \ |\n|documentInformation.number|`TS/KOW/2022/11`| Number of the collected document |\n|documentInformation.issueDate|`2022-11-01`|\
        \ Document issue date |\n|documentInformation.confidenceScore|`0.95`| Level of trust of the analysed document |\n\
        |documentInformation.trustScore|`0.7`| Document Trust Index score |\n|documentInformation.periodStart|`2023-01-01`|\
        \ Period start date that analysed document refers to  |\n|documentInformation.periodEnd|`2023-12-31`| Period end date\
        \ that analysed document refers to |\n|financialAnalysis| - | A structure representing the summary of affordability\
        \ assessment validation. |\n|financialAnalysis.income|`7500`| Income summary |\n|financialAnalysis.expenditure|`4200.5`|\
        \ Expenditure summary |\n|financialAnalysis.currency|`EUR`| Currency|\n"
      operationId: getAffordability
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction list available
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/Affordability'
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character (''"'' (code 34)):
                  was expecting Array entries.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: 'Permission denied for strategy: `public:b`.'
                violations: []
        '404':
          description: Conversation not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '410':
          description: Conversation is unavailable
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: GONE
                message: Conversation is unavailable due to retention policy.
                violations: []
        '500':
          description: Server side error
  /api/subscriptions/{conversationId}/aml:
    delete:
      tags:
      - AML
      summary: Cancel AML list subscription connected to the conversation
      description: "\nStops AML monitoring for given conversation.\n        "
      operationId: cancelAMLSubscription
      parameters:
      - name: conversationId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Subscription canceled
        '400':
          description: Bad Request
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                type: string
                oneOf:
                - $ref: '#/components/schemas/BadRequestApiError'
                - $ref: '#/components/schemas/MethodArgumentNotValidError'
                - $ref: '#/components/schemas/MethodArgumentTypeMismatchError'
                - $ref: '#/components/schemas/ConstraintViolationError'
                - $ref: '#/components/schemas/CustomValidationApiError'
                - $ref: '#/components/schemas/OperationNotSupportedApiFieldError'
                - $ref: '#/components/schemas/MissingHeaderApiError'
              example:
                status: BAD_REQUEST
                message: 'AML subscription in conversation: `example_conversation_id` already inactive.'
                violations: []
        '402':
          description: Exhaustion of the plan or limitations related to non-payment
        '403':
          description: Forbidden
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: FORBIDDEN
                message: Permission denied.
                violations: []
        '404':
          description: Conversation or AML subscription not found
          content:
            application/vnd.authologic.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                status: NOT_FOUND
                message: Item not found
                violations: []
        '500':
          description: Server side error
components:
  schemas:
    AMLProduct:
      type: object
      properties:
        checks:
          type: array
          description: List of AML checks to perform
          items:
            type: string
            enum:
            - PEP
            - SANCTIONS
            - ADVERSE_MEDIA
            - SIP
            - OTHER
[...]
